
/* ---------buscador de productos en "Cash register" ----------*/

.content-search{

    position: relative ;  
    display: none; 
  }
  
  .content-table{
    --bs-gutter-x: 1.5rem;
    font-weight: normal;
    margin-left: 2px;
    margin-right: 0px;
    width: 100%;
    height: auto;
    max-height: 30vmin;
    position: absolute ;  
    z-index: 80;
    background: white;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    overflow-y: visible;
    overflow-x: hidden;
  
  }

  .content-table table{
    width: 100%;
  
  }
  
  tbody tr td a{
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
  }
  
  tbody tr td a:hover{
    color: white;
    background:rgba(13 110 253);
  }